#why-niyo {
  padding: 50px 70px;
  background-color: rgb(244, 244, 244);
}
.why-text,
#why-niyo h2 span {
  color: rgb(251, 175, 0);
}
.why-text {
  text-transform: uppercase;
  font-weight: bold;
}
#why-niyo h2 {
  font-size: 60px;
}
